<div class="row">
  <div class="col-md-6">
      <%= image_tag "book1.jpg", class: "img-responsive" %>
  </div>
  <div class="col-md-6">
    <h4><%= @book.name %><br /> by <%= @book.author %></h4>
    <p><%= @book.description %></p>
    <p class="bg-info"><strong><%= number_to_currency(@book.price.to_f / 100) %></strong></p>
  </div>
</div> 

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
